<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>17-7-3-函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0FCCDE51F0A25630025C85A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FCCDF91F0A25630025C85A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FCCE041F0A25630025C85A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
